/*
author: Joel Elfström

Contact:
*/
body {
		background-color: #200;
		color: #fff;
		width: 100%;
		
	}
	
#container {
	border: 1px solid #ff0000;
}

#menu li {

	border-width: 1px;
	border-style: solid;
	border-color: #k00000;
}

